<section id="blog" class="blog-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Blog
          </h3>
          <p class="subtitle-a">
            personal Blogs
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-blog">
          <div class="card-img">
            <a href="https://www.linkedin.com/pulse/know-more-angular-univarsal-digvijay-deshmukh?articleId=6462976229862674432#comments-6462976229862674432&trk=public_profile_post"><img
                src="../../assets/img/uni.png" alt="" class="img-fluid"></a>
          </div>
          <div class="card-body">
            <div class="card-category-box">
              <div class="card-category">
                <h6 class="category">Universal</h6>
              </div>
            </div>
            <h3 class="card-title"><a href="https://www.linkedin.com/pulse/know-more-angular-univarsal-digvijay-deshmukh?articleId=6462976229862674432#comments-6462976229862674432&trk=public_profile_post">Know
                More About Angular Universal</a></h3>
            <p class="card-description">
              Angular is providing client side as well as Server side rendering.For improving performance we can used
              angular universal. It has same setup as client side Angular Application but there are five(5) new file
              that you need to create when you want the server side rendering.For getting fast response from server we
              used Universal.
            </p>
          </div>
          <div class="card-footer">
            <div class="post-author">
              <a href="https://in.linkedin.com/in/digvijaydeshmukh">
                <img src="../../assets/img/download1.png" alt="" class="avatar rounded-circle">
                <span class="author">Digvijay Deshmukh</span>
              </a>
            </div>
            <div class="post-date">
              <span class="ion-ios-clock-outline"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-blog">
          <div class="card-img">
            <a href="https://www.linkedin.com/pulse/why-angular-digvijay-deshmukh?trk=portfolio_article-card_title"><img
                src="../../assets/img/ang.png" alt="" class="img-fluid"></a>
          </div>
          <div class="card-body">
            <div class="card-category-box">
              <div class="card-category">
                <h6 class="category">Web Design</h6>
              </div>
            </div>
            <h3 class="card-title"><a href="https://www.linkedin.com/pulse/why-angular-digvijay-deshmukh?trk=portfolio_article-card_title">Why
                Angular ...?</a></h3>
            <p class="card-description">
              First of all these question asked me lots of time and now time is to answer these question why Angular?
              why it is so popular ..??so before answering the question let have some example sometimes in day you went
              to Restaurants and order some food there are to many menu items. you choose odd one and eat. you realize
              it is awesome and testy .
            </p>
          </div>
          <div class="card-footer">
            <div class="post-author">
              <a href="https://in.linkedin.com/in/digvijaydeshmukh">
                <img src="../../assets/img/download1.png" alt="" class="avatar rounded-circle">
                <span class="author">digvijay deshmukh</span>
              </a>
            </div>
            <div class="post-date">
              <span class="ion-ios-clock-outline"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-blog">
          <div class="card-img">
            <a href="https://www.linkedin.com/pulse/angular2-architecture-digvijay-deshmukh?trk=portfolio_article-card_title"><img
                src="../../assets/img/arch.jpg" alt="" class="img-fluid"></a>
          </div>
          <div class="card-body">
            <div class="card-category-box">
              <div class="card-category">
                <h6 class="category">Web Design</h6>
              </div>
            </div>
            <h3 class="card-title"><a href="https://www.linkedin.com/pulse/angular2-architecture-digvijay-deshmukh?trk=portfolio_article-card_title">Angular2
                Architecture</a></h3>
            <p class="card-description">
              As we know about the Anguar2 framework is used to build the client side Application using HTML,
              JavaScript and Typescript.
              So how it will work, how to build an application that is all this depends on Architecture. If we know
              about the functionality of the angular2 and how it works then it is an easy way to build the application
              using angular2.
            </p>
          </div>
          <div class="card-footer">
            <div class="post-author">
              <a href="https://in.linkedin.com/in/digvijaydeshmukh">
                <img src="../../assets/img/download1.png" alt="" class="avatar rounded-circle">
                <span class="author">digvijay deshmukh</span>
              </a>
            </div>
            <div class="post-date">
              <span class="ion-ios-clock-outline"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-blog">
          <div class="card-img">
            <a href="https://www.linkedin.com/pulse/want-start-learning-reactwhatwhyhow-digvijay-deshmukh?trk=portfolio_article-card_title"><img
                src="../../assets/img/react.png" alt="" class="img-fluid"></a>
          </div>
          <div class="card-body">
            <div class="card-category-box">
              <div class="card-category">
                <h6 class="category">Web Design</h6>
              </div>
            </div>
            <h3 class="card-title"><a href="https://www.linkedin.com/pulse/want-start-learning-reactwhatwhyhow-digvijay-deshmukh?trk=portfolio_article-card_title">Want
                to Start Learning React...What,why,how...?</a></h3>
            <p class="card-description">
              before starting writing on these topic ,there are some questions it will help you to understand....</p>

            <p>1.What is React...??</p>
            <P>2.Why we use react..??</P>
            <p>3.How react increases the performance of application...??</p>
            <p>4.Can we compare other technology with react...??</p>
            <p>5.What we need to learn before we start learning react….??</p>
            <p>6.What is JSX and why we use it in react...??</p>

          </div>
          <div class="card-footer">
            <div class="post-author">
              <a href="https://in.linkedin.com/in/digvijaydeshmukh">
                <img src="../../assets/img/download1.png" alt="" class="avatar rounded-circle">
                <span class="author">digvijay deshmukh</span>
              </a>
            </div>
            <div class="post-date">
              <span class="ion-ios-clock-outline"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-blog">
          <div class="card-img">
            <a href="https://www.linkedin.com/pulse/how-setup-your-first-react-application-digvijay-deshmukh?trk=portfolio_article-card_title"><img
                src="../../assets/img/react1.png" alt="" class="img-fluid"></a>
          </div>
          <div class="card-body">
            <div class="card-category-box">
              <div class="card-category">
                <h6 class="category">Web Design</h6>
              </div>
            </div>
            <h3 class="card-title"><a href="https://www.linkedin.com/pulse/how-setup-your-first-react-application-digvijay-deshmukh?trk=portfolio_article-card_title">HOW
                TO SETUP YOUR FIRST REACT Application..??</a></h3>
            <p class="card-description">
              Helloooooooooooooo, you are new in react...?? want to start new Project in react ...??
              In this blog we are discuss on how to setup our new application in React..? what are the new approaches
              to create new Project in React...?
              so first Thing First ...what are the Software tools we requierd to start react..
              Nodejs :-
              <p>2.VSCode :-it is code editor.It is light weight tool.there are many tools in market like
                web-storm,atom.depends on your preference you can use these.</p>

          </div>
          <div class="card-footer">
            <div class="post-author">
              <a href="https://in.linkedin.com/in/digvijaydeshmukh">
                <img src="../../assets/img/download1.png" alt="" class="avatar rounded-circle">
                <span class="author">digvijay deshmukh</span>
              </a>
            </div>
            <div class="post-date">
              <span class="ion-ios-clock-outline"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-blog">
          <div class="card-img">
            <a href="https://www.linkedin.com/pulse/angular2-lifecycle-hooks-digvijay-deshmukh?trk=portfolio_article-card_title"><img
                src="../../assets/img/life.jpg" alt="" class="img-fluid"></a>
          </div>
          <div class="card-body">
            <div class="card-category-box">
              <div class="card-category">
                <h6 class="category">Web Design</h6>
              </div>
            </div>
            <h3 class="card-title"><a href="https://www.linkedin.com/pulse/angular2-lifecycle-hooks-digvijay-deshmukh?trk=portfolio_article-card_title">Angular2
                LifeCycle Hooks</a></h3>
            <p class="card-description">
              Like our normal programming language concept of the life cycle, angular2 component has its own life cycle
              every component follow these life cycles hooks a number of different phases it goes through from birth to
              death. using these hooks we can control our component.

              To do this we add some specific methods to our component class which get called during each of these
              life-cycle phases, we call those methods hooks.
              hooks for component:-
              ngOnChanges()
              ngOnInit()
              ngDoCheck()
              ngOnDestroy()

          </div>
          <div class="card-footer">
            <div class="post-author">
              <a href="https://in.linkedin.com/in/digvijaydeshmukh">
                <img src="../../assets/img/download1.png" alt="" class="avatar rounded-circle">
                <span class="author">digvijay deshmukh</span>
              </a>
            </div>
            <div class="post-date">
              <span class="ion-ios-clock-outline"></span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>