<section id="work" class="portfolio-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Portfolio
          </h3>
          <p class="subtitle-a">
            Website development
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="work-box">
          <a href="../../assets/img/gluco2.JPG" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="../../assets/img/gluco2.JPG" alt="" class="img-fluid">
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Glucosezone Main site</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="../../assets/img/gluco1.JPG" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="../../assets/img/gluco1.JPG" alt="" class="img-fluid">
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">www.Glucosezone.com</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Website development</span> / <span class="w-date">1 feb. 2018</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
          <div class="work-box">
            <a href="../../assets/img/wesign.JPG" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="../../assets/img/wesign.JPG" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Digital Signature</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Website development</span> / <span class="w-date">4 May. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

    </div>
  </div>
</section>

