<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <img src="../../assets/img/download1.png" class="img-fluid rounded b-shadow-a" alt="">
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p><span class="title-s">Name: </span> <span>Digvijay ManeDeshmukh</span></p>
                    <p><span class="title-s">Profile: </span> <span>software developer</span></p>
                    <p><span class="title-s">Email: </span> <span>digvijay.deshmukh19@gmail.com</span></p>
                    <p><span class="title-s">Phone: </span> <span>+919970713433</span></p>
                  </div>
                </div>
              </div>
              <div class="skill-mf">
                <p class="title-s">Skill</p>
                <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>

                <span>HTML</span> <span class="pull-right">85%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span>TYPESCRIPT</span> <span class="pull-right">75%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span>NODE</span> <span class="pull-right">50%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">
                    About me
                  </h5>
                </div>
                <p class="lead">
                  I am Angular 2 | 4 | 5 | 6 | Javascript | Python Flask | MEAN Stack Developer.I have good knowledge
                  and experience on these technologies. I worked on these technologies very well.


                </p>

                <p class="lead">I Also know</p>
                <p class="lead">FreamWorks - Angular,MVC,Flask</p>
                <p class="lead">Database tools - sqlite,sqlalchemy</p>
                <p class="lead">Unit Testing - nose, unittest</p>
                <p class="lead">Othere: Javascript,typescript,html,</p>
                <p class="lead">css,bootstrap,webpack,Babel</p>
                <p class="lead">Version Control - github,bit-bucket,AWS</p>
                <p class="lead">Code Editor's - vscode, pycharm</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>