<section id="service" class="services-mf route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Services
          </h3>
          
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-monitor"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Web Design</h2>
            <p class="s-description text-center">
                Experienced web designers with both programming and design skills, specializing in usability and user experience. Web Design Skills To Include: User experience and user pathway design. dynamic design using Angular,react.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-code-working"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Web Development</h2>
            <p class="s-description text-center">
              Web development is the work involved in developing a web site for the Internet or an intranet.using Angular ,React,HTML,CSS,BootStrap developing the website.
              Creating single page Applications.used Serverside rendring.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-stats-bars"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Work experience</h2>
                <p class="s-description text-center">Worked as Angular 2 and Java script developer in Eccentric InfoTech software private limited from feb
                    2017 to Jan 2018 date.</p>
                <p class="s-description text-center">Currently Working as Software Developer –Grade 2 in Spheregen from July 2018 to till date.</p>
          </div>
        </div>
     
      </div>
      
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Education</h2>
                <p class="s-description text-center">Bachelors of Engineering (B.E) in Information Technology from Trinity college of Engineering and Research Pune with 64% in 2016.</p>
                <p class="s-description text-center"> Diploma in Information Technology from Government Polytechnic, Solapur with 66% in 2013.</p>
                <p class="s-description text-center">Secondary School Certification from Pune Board with 91.64% in 2010.</p>
               
      
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-paintbrush"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Specialize Technology</h2>
            <p class="s-description text-center"></p>
              <p class="s-description text-center">
                Having total 2 Years of experience as Angular 2 /4/5/6 and Java script developer in Information Technology
                domain.</p>
              <p class="s-description text-center">
                <b>WebTechnology:</b>WAngular2,Angular4,Angular 5,javascript, python-flash, Sqlalchemy</p>
              <p class="s-description text-center">
                <b>Other Application:</b>QuickScrum,Bitbucket,git,Web API,SVN,wireframing,AWS,postman,Rest API.</p>
            
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-camera"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Version control</h2>
            <p class="s-description text-center">Version control is a system that records changes to a file or set of files over time so that you can recall specific versions later</p>         
            <p class="s-description text-center">For versions control used git.and for repo used github,bitbucket</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<app-counter></app-counter>
